
services:
  api:
    build: ./app
    container_name: api_tareas
    ports:
      - "${API_PORT}:5000"
    environment:
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    depends_on:
      - db
    networks:
      - backend
  db:
    image: mysql:8.0.44
    container_name: db_tareas
    ports:
      - "${MYSQL_PORT}:3306"
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - backend
  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - ${ADMINER_PORT}:8080 
    depends_on:
      - db
    networks:
      - backend


volumes:
  db_data:

networks:
  backend: